SU_PASSWORD=postgres
VAULT_SERVICE_PASSWORD=vault_service_pw
VAULT_ADMIN_TOKEN=dev-admin-token-change-me
VAULT_LOCAL_MASTER_KEY=CrbvPp787kTip4iPLb4NJfk5ww/j1ingx/a4PaLPGWg=
VAULT_ALLOWED_IPS=0.0.0.0/0
RUST_LOG=info
